<ul class="main-navigation">
  <li><a href="{{ root_url }}/blog/archives">Ember Blogs</a></li>
  <li><a href="https://twitter.com/stv_kn" data-show-count="false">@stv_kn</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></li>
  <li><a href="https://twitter.com/chen_pete" data-show-count="false">@chen_pete</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></li>
  <li><a href="https://github.com/emberjs/ember.js">Ember</a></li>
  <li><a href="https://github.com/emberjs/data">EmberData</a></li>
  <li><a href="http://jsFiddle.net">jSfiddle</a></li>
</ul>
