<section id="resources">
<details>
  <summary>Wtf is <a href="http://emberjs.com/">Ember.js</a> and How Do I Use this Blog</summary>
  <content>
    <table id="resource table">
      <tbody>
        <tr class="resource">
          <td class="resourcetitle">
            <a href="https://stevekane.github.com">This Blog</a>
          </td>
          <td class="resourcedescription">
            Teaches Ember.js through advanced examples not found in introductory material.
          </td>
        </tr>
        <tr class="resource">
          <td class="resourcetitle">
            <a href="https://emberjs.com">Ember</a>
          </td>
          <td class="resourcedescription">
            A Javascript MVC framework for complex client-side web applications. 
          </td>
        </tr>
        <tr class="resource">
          <td class="resourcetitle">
            <a href="https://github.com/emberjs/data">Ember Data</a>
          </td>
          <td class="resourcedescription">
            A persistance and relation-based object system for Ember.js.
          </td>
        </tr>
        <tr class="resource">
          <td class="resourcetitle">
            <a href="http://jsfiddle.net">JSFiddle</a>
          </td>
          <td class="resourcedescription">
            Browser-based Web-development "playground" app.  <a href="http://emberplay.com">EmberPlay.com</a> and <a href="http://jsbin.com">JSBin.com</a> are other similar tools.<br>
            To set up JSfiddle, add jQuery 1.9.1 to the onLoad Framework.  Add these two urls to your Managed Resources:
            <p class="url">https://raw.github.com/emberjs/ember.js/release-builds/ember-1.0.0-rc.1.js</p>
            <p class="url">https://raw.github.com/wycats/handlebars.js/1.0.0-rc.3/dist/handlebars.js</p>
          </td>
        </tr>
      </tbody>
    </table>
  </content>
</details>
</section>
