<section id="resources">
  <header>Shortlist of Valuable Resources for <a href="https://emberjs.com">Emberjs</a> Developers</header>
  <content>
    <table id="resource table">
      <tbody>
        <tr class="resource">
          <td class="resourcetitle">
            <a href="https://peepcode.com/products/emberjs">PeepCode $</a>
          </td>
          <td class="resourcedescription">
            PeepCode's Emberjs tutorial costs $12 bucks but is worth every penny
          </td>
        </tr>
        <tr class="resource">
          <td class="resourcetitle">
            <a href="http://www.noelrappin.com">Noel Rappin $</a>
          </td>
          <td class="resourcedescription">
            Noel Rappin's Ember book is WIP but updates are free via email
          </td>
        </tr>
        <tr class="resource">
          <td class="resourcetitle">
            <a href="http://kaspertidemann.com">Kasper Tidemann</a>
          </td>
          <td class="resourcedescription">
            Kasper's blog is short and sweet and includes helpful links and tutorials
          </td>
        </tr>
        <tr class="resource">
          <td class="resourcetitle">
            <a href="https://darthdeus.github.com">DarthDeus</a>
          </td>
          <td class="resourcedescription">
            DarthDeus provides short and sweet explanations of many of Ember's systems
          </td>
        </tr>
      </tbody>
    </table>
  </content>
  <footer>Contact <a href="https://twitter.com/stv_kn">stv_kn</a> to add your site.</footer>
</section>
