$grey: #333;
//$orange: #EB3F00;
//$yellow: #EBB800;
//$red: #B90504;
$fifthcolor: #C3BAB6;
//main colors in hsl
$orange: hsl(16, 100%, 46%);
$yellow: hsl(47, 100%, 46%);
$red: hsl(0, 96%, 37%);
//slightdownshift of saturation
$orange: hsl(16, 95%, 46%);
$yellow: hsl(47, 95%, 46%);
$red: hsl(0, 95%, 37%);

$color1: $grey;
$color2: $orange;
$color3: $yellow;
$color4: $red;
$color5: $fifthcolor;

//$color1: $yellow;
//$color2: $orange;
//$color3: $grey;
//$color4: $red;
//$color5: $fifthcolor;

$res-bg: $color1;
$res-link: $color2;
$res-link-hover: $color3;
$res-title: $color2;
$res-text: $color3;

$link-color: $color2;
$link-color-hover: $color3;
$link-color-active: $color2;
$link-color-visited: $color2;

//overall
$main-bg: $color3;
$page-bg: $color1;

//header
$header-bg: $red;
$title-color: $yellow;
$subtitle-color: $orange;
//text
$text-color: $color1;
$text-color-light: lighten($color1, 8);

//nav
$nav-bg: none;
$nav-bg-front: none;
$nav-bg-back: none;
$nav-color: $color2;
$nav-color-hover: $color3;
$nav-placeholder: $color2;
$nav-border-top: none;
$nav-border-bottom: none;
$nav-border-left: none;
$nav-border-right: none;

//footer
$footer-color: $yellow;
$footer-bg: $red;
$footer-bg-front: image-url('noise.png') !default;
$footer-bg-back: linear-gradient(lighten($footer-bg, 8), $footer-bg, darken($footer-bg, 11)) !default;
$footer-color-hover: darken($footer-color, 10) !default;
$footer-border-top: $footer-bg;
$footer-border-bottom: $footer-bg;
$footer-link-color: $orange;
$footer-link-color-hover: $yellow;
$page-border-bottom: darken($footer-bg, 5) !default;

$solarized: dark;

/* If you want to tweak the Solarized colors you can do that here */
$base03:          darken($grey, 10); //darkest blue
$base02:          $grey; //dark blue
$base01:          #eee8d5; //darkest gray
$base00:          #fdf6e3; //dark gray
$base0:           #839496; //medium gray
$base1:           #93a1a1; //medium light gray
$base2:           #eee8d5; //cream
$base3:           #fdf6e3; //white
$solar-yellow:    $yellow;
$solar-orange:    $orange;
$solar-red:       $red;
$solar-magenta:   darken($red, 10);
$solar-violet:    #6c71c4;
$solar-blue:      #268bd2;
$solar-cyan:      #2aa198;
$solar-green:     #859900;


/* Non highlighted code colors */
//$pre-bg: $base03;
//$pre-border: darken($base02, 5);
//$pre-color: $base1;
