$dark-red: #990100;
$light-red: #B90504;
$grey: #333333;
$dark-white: #E8E8E8;
$light-white: #F6F6F6;
$orange: #EB3F00;
$yellow: #EBB800;
$dark-grey: #1F1F1F;

$link-color: $orange;
$link-color-hover: $yellow;
$link-color-active: $link-color-hover;
$link-color-visited: $link-color;

//overall
$main-bg: $yellow;
$page-bg: $grey;

//header
$header-bg: $light-red;
$title-color: $yellow;
$subtitle-color: $orange;
//text
$text-color: $dark-grey;
$text-color-light: $grey;

//nav
$nav-bg: $grey;
$nav-bg-front: image-url('noise.png') !default;
$nav-bg-back: linear-gradient(to top, $dark-grey, $grey);
$nav-color: $orange;
$nav-color-hover: $yellow;
$nav-placeholder: $nav-bg;
$nav-border-top: $grey;
$nav-border-bottom: $dark-grey;
$nav-border-left: $grey;
$nav-border-right: $grey;

//footer
$footer-color: $yellow;
$footer-bg: $header-bg;
$footer-bg-front: image-url('noise.png') !default;
$footer-bg-back: linear-gradient(lighten($footer-bg, 8), $footer-bg, darken($footer-bg, 11)) !default;
$footer-color-hover: darken($footer-color, 10) !default;
$footer-border-top: $footer-bg;
$footer-border-bottom: $footer-bg;
$footer-link-color: $orange;
$footer-link-color-hover: $yellow;
$page-border-bottom: darken($footer-bg, 5) !default;

$solarized: dark;

/* If you want to tweak the Solarized colors you can do that here */
$base03:          $dark-grey; //darkest blue
$base02:          $grey; //dark blue
$base01:          #eee8d5; //darkest gray
$base00:          #fdf6e3; //dark gray
$base0:           #839496; //medium gray
$base1:           #93a1a1; //medium light gray
$base2:           #eee8d5; //cream
$base3:           #fdf6e3; //white
$solar-yellow:    $yellow;
$solar-orange:    $orange;
$solar-red:       $light-red;
$solar-magenta:   $dark-red;
$solar-violet:    #6c71c4;
$solar-blue:      #268bd2;
$solar-cyan:      #2aa198;
$solar-green:     #859900;


/* Non highlighted code colors */
//$pre-bg: $base03;
//$pre-border: darken($base02, 5);
//$pre-color: $base1;
