// Here you can easily change your sites's layout.
// To give it a try, uncomment some of the lines below, make changes, rebuild your blog, and see how it works.

body {
  > div {
    border-bottom: none;
    > div {
      border-right: none;
    }
  }
}


$header-font-size: 1em;
$header-padding-top: 1em;
$header-padding-bottom: 1em;

$max-width: 1200px;
$indented-lists: false;

//Padding used for layout margins
$pad-min: 2px;
$pad-narrow: 10px;
$pad-medium: 15px;
$pad-wide: 20px;

//Sidebar widths used in media queries
$sidebar-width-medium: 0px;
$sidebar-pad-medium: 0px;
$sidebar-pad-wide: 0px;
$sidebar-width-wide: 0px;
