$bord-rad: 10px 10px 10px 10px;
@mixin userSelect {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
//change article dimensions
article > footer {
  padding: .6em .6em .6em .6em;
}
//Style changes for entries
div.entry-content {
  p {
    color: $color1;
    margin-bottom: .3em;
  }
  h3 {
    font-weight: normal;
    color: $color4;
    margin-bottom: .3em;
  }
  a:hover {
    color: $color1;
    text-decoration: none;
  }
}


#content {
  div, div.blog-index {
    padding-top: 10px;
    padding-bottom: 10px;
    article {
      padding-top: 0;
      margin: 0;
      header{
        padding-top: 0; 
        margin: 0;
        h1.entry-title {
          a:hover {
            color: $color2;
            text-decoration: none;
          }
        }
        #resources {
          @include userSelect;
          margin: .6em;
          background-color: $res-bg;
          border-radius: $bord-rad;
          summary {
            @include userSelect;
            margin-left: .6em;
            font-weight: bold;
            font-size: 1.3em;
            color: $res-text;
            padding-top: .5em;
            padding-bottom: .3em;
            margin-bottom: 0;
            a {
              color: $res-link;
              text-decoration: none;
            }
          } 
          table {
            width: 95%;
            margin-left: .6em;
            td.resourcetitle {
              width: 150px;
              vertical-align: top;
              padding-left: .5em;
              padding-right: .5em;
              font-size: .9em;
              a {
                text-decoration: none;
              }
              padding-right: 2em; 
              color: $res-link;
            } 
            td.resourcedescription {
              p.url {
                color: $res-link;
              }
              vertical-align: top;
              font-size: .9em;
              margin-left: .2em;
              
              color: $res-text;
            }
          } 
          footer {
            margin-left: .6em;
            color: $res-text;
            padding-top: .3em;
            padding-bottom: .5em;
          }
        }
      }
    }
  }
}

//hacks for shadows
div#main {
  border-radius: $bord-rad;
  background: none;
  div#content {
    border-radius: inherit;
  }
}
footer#sitefooter {
  margin-top: 2em;
  margin-bottom: 0;
  border: none;
  border-radius: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: none;
  background-color: $color4;
}

header#siteheader {
  vertical-align: center;
  background-image: url('../images/demoncolor.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 90%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 150px;
  h3 {
    padding-top: 30px;
    color: $color3;
    font-size: .8em;
    font-weight: normal;
  }
}

nav {
  margin-bottom: .3em;
  margin-top: .3em;
  ul li a {
    font-weight: bold;
    font-size: 1.4em;
    font-family: "PT Serif", "Georgia", "Helvetica Neue", Arial, sans-serif;
  }
}

//code figure mods
//remove figure captions (for now)
figure.code {
  margin: .6em .6em .6em .6em;
  border: none;
  border-radius: $bord-rad; 
  figcaption {
    display: none;
    border: none;
  }
  div.highlight {
    border-radius: inherit;
  }
}

footer {
  border-top: none;
}
//dirty hack to remove whitespace
body div div {
  border-right: none;
}
//remove sidebar completely
aside {
  display:none;
}
